/* 

GUIDELINES


----------------- TYPOGRAPHY  ----------------

FONT SIZE 
12px / 16px / 20px / 24px / 32px / 40px / 48px / 62px 


FONT WEIGHT
400 / 700


LINE HEIGHT
1.2 / 1.5


LETTER SPACING
0 / -2px


FONT FAMILY
Poppins / sans-serif(fall back)



----------------- COLORS  ----------------

once finalized will be placed here

*/

/* -------------------------- GLOBAL STYLES ------------------------- */

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.5;
}


h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 1.2;
}


h1 {
    font-size: 62px;
}

h2 {
    font-size: 48px;
}


h3 {
    font-size: 40px;
}


h4 {
    font-size: 32px;
}

h5 {
    font-size: 24px;
}

p {
    font-size: 20px;
}

a {
    text-decoration-style: none;
    font-size: 16px;
}

ul {
    list-style: none;
}


.footer {
    text-align: center;
}

.small-text {
    font-size: 12px;
}


/* --------------------------  COMPONENTS  ------------------------- */